In [1]:
from Alice_Data_Scraper import AliceBlueDataScraper  # Adjust import based on your folder structure
from datetime import datetime, timedelta
import os

In [2]:
scraper = AliceBlueDataScraper()

AliceBlueDataScraper initialized with user_id: 1916207
AliceBlueDataScraper initialized with api_key: AIo9L5aqD8NRfRMZ4z5PmfK1iI0GB17VslusiaI51t0NDufuljl9xKWsVDpKWxvXznAqQEMDqZc2ZDtaJgHILlBfDb9ORaJ9xLmso9S0HXLQd1b4fbLWBT3JBZe6OdMR

In [3]:
scraper.Check_Login_info()

--- AliceBlue Profile Information ---
Account Name   : BHARAT SHARMA
Account ID     : 1916207
Account Status : Activated
Broker Name    : ALICEBLUE
Products       : CNC, NRML, MIS, MTF, CO, BO
Email          : Bharat05122002@gmail.com
Phone          : 9868009203
Demat Type     : NA
POA Status     : Not Given

In [ ]:
symbol = "RBLBANK"
timeframe_provided = "1"  # 1 minute data
from_date = datetime(2017, 1, 1)  # Start date for historical data
to_date = datetime.now()  # Current date for historical data
file_path = "./../data/RBLBANK.csv"  # Path to save the historical data
indices_require = False  # Whether to include index data or not

directory = os.path.dirname(file_path)
if directory and not os.path.exists(directory):
    os.makedirs(directory)
    
scraper.get_and_store_historical_OHLC_data(
	symbol=symbol,
	timeframe_provided=timeframe_provided,
	from_date= from_date,
	to_date=to_date,
	file_path=file_path,
	indices_require=indices_require
)

Fetching historical data for symbol: 'RBLBANK'
  Timeframe : 1
  From      : 2017-01-01 00:00:00
  To        : 2025-07-28 20:23:01.205909
  Exchange  : NSE
  Indices   : False
  Save to   : ./../data/RBLBANK.csv

Historical data for RBLBANK from 2017-01-01 00:00:00 to 2025-07-28 20:23:01.205909 saved to ./../data/RBLBANK.csv.

                  datetime    open    high     low   close    volume
0      2016-12-26 09:15:00  337.80  337.80  336.00  336.75    4370.0
1      2016-12-26 09:16:00  336.50  336.60  335.10  335.10    5088.0
2      2016-12-26 09:17:00  335.35  335.35  335.00  335.05    4922.0
3      2016-12-26 09:18:00  335.05  335.20  334.35  334.50    2545.0
4      2016-12-26 09:19:00  334.10  335.25  334.10  335.25    3039.0
...                    ...     ...     ...     ...     ...       ...
55495  2025-07-28 15:25:59  252.60  252.91  252.54  252.80  127061.0
55496  2025-07-28 15:26:59  252.81  252.81  252.40  252.50   37087.0
55497  2025-07-28 15:27:59  252.49  252.49  251.85  251.94  109596.0
55498  2025-07-28 15:28:59  251.80  251.98  251.49  251.97  106443.0
55499  2025-07-28 15:29:59  251.98  252.75  251.87  252.70   45338.0

[55500 rows x 6 columns]